.title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #0d0d0d;
  text-transform: uppercase;
  &_left {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
    text-align: left;
  }
}
